@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44817,44813');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  scroll-behavior: smooth;
}

:root {
  --main: #3778c2;
  --second: #5fb523;
  --third: #434b54;
  --fourth: #6e757d;
  --fifth: #d7dadf;
  --error: #e2e05c;
  --success: #009070;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
}

nav {
  display: flex;
  flex-direction: column;
  background: var(--main);
  height: 92px;
  padding: 16px;
  gap: 20px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main);
}

.hamburger,
.search {
  width: 45px;
  height: 35px;
}

.text-main-header {
  color: #ffffff9e;
  text-transform: uppercase;
  font-size: x-large;
}

.nav-secondary {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

button.btn-link {
  width: 84px;
  background: var(--main);
  background: none;
  border: none;
  color: var(--third);
  font-size: 20px;
  font-weight: 800;
}

.btn-icon {
  width: 44px;
}

.grand-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-top: 0;
  margin-bottom: 20px;
  height: 72px;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
  font-size: 2em;
  font-weight: 900;
  color: #6e757d70;
}

.amount-label,
.amount {
  font-size: x-large;
  font-weight: bold;
}

.amount-label {
  color: #515e6d3d;
}

.header-img-wrapper{
  width: 72px;
  height: 72px;
}

.with-img{
  font-size: 1.5em;
}

.with-img > .amount-label{
  padding-left: 7px;
}

.user-info {
  color: var(--white);
  font-weight: 600;
  font-size: x-large;
}

#home-form {
  width: 100%;
  padding: 10px;
}

.color-second {
  color: var(--third);
}

.splash {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 3rem;
}

.splash-cont {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
}

.signin-signup {
  width: 100%;
}

.signin,
.signup {
  display: block;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
  text-align: center;
  margin-top: 10px;
}

.signin {
  background-color: var(--main);
  color: wheat;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  color: var(--third);
}

.card-wrap {
  padding: 10px 15px;
}

.card {
  display: flex;
  gap: 15px;
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 10px #719ece;
}

.card-img-wrapper {
  width: 100px;
  height: 100px;
  padding: 5px 10px;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-right: 12px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  padding-top: 20px;
  align-items: center;
  line-height: 4rem;
}

p.text-xs {
  color: var(--third);
  line-height: 2rem;
  background-color: #d9dcdf1a;
}

.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
}

.authentication > a {
  color: var(--third);
  text-decoration: none;
  font-weight: 500;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

input#user_email,
input#user_password,
input#user_name,
input#user_password_confirmation,
input[type="text"],
input[type="number"] {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border-radius: 8px;
  font-size: large;
  border: 1px solid var(--main);
}

input:focus {
  outline: none !important;
  border: 1px solid var(--main);
  box-shadow: 0 0 10px #719ece;
}

input[type='submit'] {
  padding: 10px 15px;
  width: 100%;
  min-width: 100%;
  width: -webkit-fill-available;
  border-radius: 4px;
  background-color: var(--main);
  color: white;
  font-size: large;
  border: 1px solid var(--main);
}

h2 {
  color: var(--main);
}

.field {
  color: var(--third);
}

.btn-wrapper {
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--second);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 11px 1px;
}

a.btn-add {
  text-decoration: none;
  font-size: x-large;
  font-weight: 800;
  border-radius: 5px;
  color: var(--white);
  border: 1px solid var(--white);
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

a.card-link {
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}

.text-lg {
  color: #515e6d3d;
  font-weight: 900;
  font-size: 0.8em;
  line-height: normal;
}

.amount {
  color: rgb(82 78 78 / 40%);
    font-weight: 800;
    font-size: 0.8em;
}

.exp {
  margin-bottom: 15px;
}

.btn-clean {
  background: none;
  border: none;
}

.btn-spacer {
  margin: 10px;
  font-weight: 300;
}

.alert{
  background: var(--main);
}

.alert-success{
  color: rgb(8, 104, 8);
}

.alert-danger{
  color:red;
}