<% content_for :title, 'My-Exp | New Category' %>
<section class="container authentication">
  <h1 class="text-main-header">New Category</h1>

  <%= render "form", category: @category %>
  <%= link_to 'Back to categories', categories_path, class: "" %>
</section>